page-job-detail {
    .job-detail a.accept-button {
        background-color: #ff4e47;
        border-radius: 25px;
        color: #fff;
    }
    .job-detail a {
        padding: 12px 25px;
        font-size: 14px;
        margin-right: 0;
    }
}
