.page-register {
    font-family: 'Raleway', sans-serif;
	background: #ffc200; /* Old browsers */
	background: -moz-linear-gradient(top, #ffc200 0%, #ff4e47 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffc200 0%,#ff4e47 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffc200 0%,#ff4e47 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc200', endColorstr='#ff4e47',GradientType=0 ); /* IE6-9 */	
	.app-logo {
		.item-inner {
			border-bottom:0 !important;
		}
		.label-ios, .label-md {
			margin: 0;
		} 	
	}
	.toolbar-background-wp {
		background-color:transparent;
	}
	ion-content.content {
		background-color:transparent;
	}
	ion-item.item {
		background-color:transparent;
	}
	.list-ios > .item-block:first-child {
		border-top:none;
		border-bottom:none;
	}
	
	p a, p span {
		color:#fff;
		font-size:16px;
	}
	ion-toolbar, ion-list {
		width: calc(100% - 70px);
		margin:0 auto;
	}
	ion-list {
		margin-bottom:15px;
	}
	ion-toolbar {
		margin-bottom:0;
	}
	
	.scroll-content {}
	.button-md-light, .button-ios-light {
		margin-bottom:10px;
	}
	.list-md .item-input:last-child {
	}
	.toolbar-background-ios, .toolbar-background-md {
		background-color:transparent;
		border-color:transparent;
	}
	.toolbar-ios {
		height:58px;
	}
	ion-segment.segment  {
		border:1px solid #fff;
		border-radius:5px;
		height:58px;
		ion-segment-button.segment-button {
			background-color:transparent;
			color:#fff;
			width:50%;
			border-color:transparent;
			font-weight: 400;
			vertical-align: middle;
			font-size:14px;
			text-transform: capitalize;
			padding: 8px 6px 6px;
			height: 58px;
			line-height:1.6;
			opacity:1; 
			ion-icon {
				display: block;
				font-size:2rem;
				line-height:1;
			}
		}
		.segment-button_first {
			border-radius:5px 0 0 5px;
		}
		.segment-button_second {
			border-radius:0 5px 5px 0;
		}
	}
	.toolbar-ios .segment-button {
		max-width:100%;
	}
	ion-segment.segment ion-segment-button.segment-button.segment-activated, 
	.segment-md .segment-button.activated, 
	.segment-md .segment-button.segment-activated {
		color:#ff4e47;
		background-color:#fff;
		border-color:transparent;
		font-weight:600;
	}
	div.scroll-content {
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
    }
    ion-item.app-logo img {
        margin:2rem 0 0;
	}
	div ion-list.list {
		ion-item.item-block:last-child {
			// border-color:transparent;
		}
		ion-item.item-block .item-inner {
			border-bottom:.55px solid #ffd5a4;
			color:#ffd5a4;
			ion-label,  .input {
				color:#ffd5a4;
			}
		}
	}
	
	.item-md.item-input.item-input-has-focus .item-inner, 
	.item-md.item-input.input-has-focus .item-inner,
	ion-item.item-input.item-input-has-focus .item-inner,
	ion-item.item-input.input-has-focus .item-inner {
	  border-bottom-color: #fff !important;
	  -webkit-box-shadow: inset 0 -1px 0 0 #fff;
	  box-shadow: inset 0 -1px 0 0 #fff;
	}
	.item-input.item-input-has-focus .item-inner ion-label, 
	.item-input.item-input-has-focus .item-inner .input,
	.ion-ios.input-has-focus .item-inner .input-wrapper ion-label,
	.ion-ios.input-has-focus .item-inner .input-wrapper .input {
		color:#fff !important;
	}
	.list-md .item-input.item-input-has-focus:last-child,
	.list-md .item-input.input-has-focus:last-child {
	  border-bottom-color: transparent;
	  border-width:.55px;
	  -webkit-box-shadow: inset 0 -1px 0 0 #fff;
	  box-shadow: inset 0 -1px 0 0 #fff;
	}
	.button-inner {
		color:#ff4e47;
		font-weight:600;
	} 
	a[href] { 
		text-decoration:underline;
	}
}
