page-add-address {
    div ion-list.list ion-item.item-block .item-inner ion-label, div ion-list.list ion-item.item-block .item-inner {
        color:#414141;
    }
    .list div.button-custom-div {
        padding-left:0;
        padding-right:0;
        .button {
            max-width:100%;
        }
        ion-icon {
            font-size:33px;
            margin-right:10px;
        }
        .ion-md-checkmark {
            font-size: 20px;
        }
    }
}
