page-notification {
    .list-wp > .item-block:last-child, .list-wp > .item-wrapper:last-child .item-block {
        border-bottom:0.55px solid #c8c7cc;
    }
    ion-badge.badge, .badge-ios, .badge-wp {
        border-radius:4px;
        font-weight:normal;
        font-size:11px;
    }
    ion-list.list, .list-wp, .list-ios, .list-md {
        ion-item.item {
            border-bottom:0.55px solid #c8c7cc;
            ion-grid {
                ion-row {
                    display: table;
                    ion-col {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                
            }
            div.item-inner {
                padding-right:0;
                border-bottom:0;
                ion-label {
                    margin:5px;
                    ion-grid {
                        padding:5px;
                        
                    }
                    h4 {
                        font-size:15px;
                        font-weight:600;
                        line-height:1.6;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    p {
                        font-size:13px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom:5px;
                    }
                    .circle-badge {
                        width:13px;
                        padding:5px;
                        height:13px;
                        border-radius:50%;
                        overflow: hidden;
                        display: inline-block;
                    }
                }
            }
            .right-sec {
                p {
                    font-size:13px;
                    margin-top:5px;
                }
                ion-badge {
                    font-size: 11px;
                    height: 18px;
                    width: 18px;
                    padding: 3px 2px;
                    border-radius:50%;
                    margin-right:6px;
                }
            }
        }
    }
}
